* {
  box-sizing: border-box;
  margin: 0 0;
}

/* Font */

h1{
  font-family: 'Source Serif Pro', serif;
}

h2{
  font-family: 'Quicksand', sans-serif;
}

/* Default color */
a{
  color: black;
  text-decoration: none;
}

/* Default command */
.line-break{
  width: 80%;
  margin: auto auto;
}

.short-break{
  line-height: 1.5em;
}

.break{
  line-height: 3em;
}

.longbreak{
  line-height: 5em;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.layer{
  position: absolute;
}

.background{
  z-index: -1;
}



/* Section */

#Header{
  height: 100vh;
  width: 100%;
  position: relative;
  color: white;
}

#Title{
  width: 100%;
  padding: 2%;
  background: rgba(246,246,243, 0.93);
  z-index: 1;
}

#Title .title-content{
  display: grid;
  align-items:center;
  text-align: center;
  grid-template-columns: 20% 60% 20%;
  color: black;
}

#Title h1{
  font-weight: 200;
}

#Title .icons i{
  margin-right: 2vw;
  font-size: 1.5em;
}

.header-content img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 80%;
}

.grid-column-3{
  display: grid;
  margin-top: 10vh;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-template-columns: 30% 40% 30%;
  text-align: center;
}

.grid-column-3 a{
  color: white;
}

.grid-column-3 div{
  display: grid;
}

.column-1, .column-3{
  grid-gap: 2vh;
}

.column-2{
  grid-gap: 12vh;
}

.column-1 h1, .column-3 h1{
  font-weight: 200;
  font-size: 2.2vw;
}

.column-1 h2, .column-3 h2{
  font-weight: 200;
  font-size: 2vw;
}

.column-2 h1{
  font-size: 8vw;
  font-weight: 300;
}

.column-2 h2{
  font-weight: 200;
  font-size: 1.5vw;
}

/* Section */

#About{
  margin-top: 10vh;
  height: 180vh;
  width: 100%;
  position: relative;
}

.about-content{
  display: grid;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-template-columns: 50% 50%;
  text-align: center;
}

.about-content .left-side{
  display: grid;
  grid-template-rows: 48% auto 52%;
  width: 100%;
  height: 100%;
}

.about-content .left-side .top{
  text-align: center;
  align-self:center;
}

.about-content .left-side .top h1{
  font-weight: 200;
  margin-top: 12%;
  font-size: 5vw;
}

.about-content .left-side .bottom h2{
  padding: 5vh 10vw;
  text-align: left;
  font-weight: 200;
  font-size: 15px;
}

.about-content .left-side .bottom .span{
  text-align: right;
}

.about-content .right-side{
  width: 100%;
  height: 100%;
}

.about-content .right-side img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Section */

#Menu{
  margin: 10vh auto;
  height: 275vh;
  width: 100%;
  position: relative;
  text-align: center;
}

.menu-content .background{
  height: 100%;
}

.menu-content img{
  width: 90%;
  height: 100%;
  object-fit: fill;
}

.menu-content .content{
  padding-top: 20vh;
  z-index: 1;
}

.content h1{
  font-weight: 300;
  font-size: 3em;
}

.sub-content h1{
  font-weight: 200;
  font-size: 2.5em;
  text-transform: uppercase;
}

.sub-sub-content h1{
  font-weight: 100;
  font-size: 1.8em;
  text-transform: none;
}

.content h2{
  font-weight: 100;
  font-size: 1.2em;
}

/* Section */

#Gallery{
  margin-top: 5vh;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
}

.gallery-content{
  justify-content: center;
  height: 100%;
  width: 90%;
  display: grid;
  grid-column: 3;
  grid-template-columns: auto auto auto;
  grid-gap: 3vw;
}

.gallery-content img{
  object-fit: fill;
  height: auto;
  width: 100%;
}

/* Section */
#Contact{
  margin-top: 10vh;
  height: 80vh;
  width: 100%;
  position: relative;
  line-height: 1.5em;

}

.contact-content{
  display: grid;
  justify-content: space-around;
  width: 90%;
  height: 100%;
  grid-template-columns: 40% 57%;
  grid-gap: 3vw;
}

.contact-content .top h1, .contact-content .bottom h1{
  font-weight: 400;
  font-size: 15px;
}

.contact-content .top h2, .contact-content .bottom h2{
  font-weight: 200;
  font-size: 15px;
}

.contact-content .grid-2{
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  width: 100%;
}

.contact-content .hours{
  text-align: right;
}


/* Section */
#Footer{
  margin-top: 10vh;
  height: 10vh;
  width: 100%;
  position: relative;
}

.footer-content h2{
  font-weight: 100;
  font-size: 15px;
  text-align: center;
}

/* Animation */

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
